/* ABOUT */

#about {
  width: 100%;
  padding: 50px auto;
  /* background-image: url(../images/about.png); */
  /* background-size: cover; */
  background: linear-gradient(
    rgb(239, 220, 220),
    rgba(219, 158, 158, 0.7),
    rgb(239, 220, 220)
  );
  overflow: hidden;
}

#about img {
  height: auto;
  width: 280px;
  padding-right: 20px;
}

.about-text {
  width: 550px;
}

.main {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.title h2 {
  color: white;
  font-size: 40px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.about-text h5 {
  color: white;
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 25px;
  text-transform: capitalize;
}

.about-text p {
  color: rgb(0, 0, 0);
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}

#about .main button:hover {
  background-color: transparent;
  border: 2px solid rgb(121, 49, 49);
  cursor: pointer;
}
